# Generated by render-api-surface-reference from the public OpenAPI document of the published
# Techstack v0.39.0 release (source 49677b729cb9818d81aa9e3aa3acabe9a65d84eb). Do not edit.
# Alias path items that only $ref another path are omitted.
openapi: 3.1.0
info:
  title: kombify-TechStack API
  description: |
    REST API for kombify-TechStack -- the hybrid cloud control plane for homelabs.

    kombify-TechStack manages infrastructure through a spec-driven architecture:
    validate YAML specs via CUE, generate OpenTofu configurations, and manage
    nodes through a gRPC agent protocol.

    ## Authentication

    Authenticated endpoints accept an OIDC/JWKS bearer token or an API key
    where documented. Self-hosted TechStack defaults to Pocket ID as identity
    provider. SaaS routes enter through the edge with Auth0 as the platform
    identity provider. PocketBase session exchange remains legacy migration
    compatibility only.

    ## Response Format

    **Success:** `{ "data": <object>, "meta": { "total": int, "page": int, "per_page": int } }`

    **Error:** `{ "error": { "code": "<ERROR_CODE>", "message": "...", "details": <any> } }`

    ## Pagination

    List endpoints accept `page` (default: 1) and `per_page` (default: 20, max: 100) query parameters.
  version: 1.0.0
  contact:
    name: kombify
    url: https://kombify.io
  license:
    name: Apache-2.0 AND GPL-3.0
    url: https://github.com/KombiverseLabs/kombify-TechStack/blob/main/LICENSE
servers:
  - url: https://api.kombify.io/v1/techstack
    description: >-
      Production canonical (via Cloudflare edge gateway, strip-prefix). Clients MUST use this projection. The Gateway strips /v1/techstack and re-adds /api/v1 at the origin, so it resolves the /api/v1/* paths below cleanly.
  - url: http://localhost:5260
    description: Local development
  - url: https://techstack.kombify.io
    description: Production (direct, no Gateway prefix)
  - url: https://api.kombify.io/v1/orchestrator
    description: >-
      Legacy StackKit-Orchestrator projection of the same origin. RETAINED for backward compatibility with existing consumers only. Do NOT use for mobile or new clients: combined with the /api/v1/* paths it double-resolves (yielding /v1/orchestrator/api/v1/...). Prefer /v1/techstack.
tags:
  - name: Health
    description: Health checks and service info (no auth required)
  - name: Instance
    description: Local instance identity and enrollment metadata
  - name: Stacks
    description: Stack lifecycle management (create, provision, deploy, destroy)
  - name: Stacks - Specs
    description: Access persisted specification chain (intent, requirements, unified)
  - name: Stacks - Import/Export
    description: Import and export StackKits stack-spec.yaml configurations
  - name: Stacks - Drift
    description: Infrastructure drift detection and resolution
  - name: Unifier
    description: Spec validation, analysis, unification, and IaC generation pipeline
  - name: StackKits
    description: Infrastructure template catalog
  - name: Add-ons
    description: Add-on detection and registry
  - name: Workers
    description: Worker node registration and management
  - name: Servers
    description: Canonical server lifecycle, connection, and health state
  - name: Inventory
    description: Owner-scoped sanitized server and service read models for UI, API, and MCP clients
  - name: Pre-Checks
    description: Pre-deployment hardware and software validation
  - name: Agents
    description: Connected gRPC agent management and commands
  - name: Jobs
    description: Background job monitoring and SSE streaming
  - name: Discovery
    description: Network device discovery and SSH testing
  - name: Features
    description: Feature flags (read-only; managed centrally via the kombify Admin API)
  - name: Monthly Runtime
    description: Provider-free user API for subscription-backed stack runtime control
  - name: Runtime
    description: Recent runtime/deploy logs (job/deploy progress + container tail)
  - name: Wallet
    description: >-
      Redacted recovery-item wallet with biometric/platform-reauth-gated reveal. List responses strip secret/totp; reveal requires a fresh trusted-reauth HMAC proof (5-minute window) and is audited server-side.
  - name: Trust
    description: Pairing tokens for worker enrollment
  - name: Client Binding
    description: Short-lived HTTPS pairing for a second client and normal OIDC account handoff
  - name: Tunnel
    description: Cloudflare tunnel management for NAT traversal
  - name: Backups
    description: Database backup management (admin only)
  - name: Auth
    description: Authentication mode and SSO configuration
  - name: Metrics
    description: Prometheus-compatible instance metrics for admin/infra scrapers
  - name: Internal
    description: Internal SaaS-only APIs, including servicecall-protected executor contracts
security:
  - bearerAuth: []
paths:
  /api/v1/health:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Main health check
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/v1/health/live:
    get:
      operationId: getLiveness
      tags: [Health]
      summary: Kubernetes liveness probe
      security: []
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: alive
  /api/v1/health/ready:
    get:
      operationId: getReadiness
      tags: [Health]
      summary: Kubernetes readiness probe
      security: []
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ready, not_ready]
                  checks:
                    type: object
                    properties:
                      database:
                        type: boolean
                      grpc:
                        type: boolean
        "503":
          description: Service is not ready
  /api/v1/health/startup:
    get:
      operationId: getStartup
      tags: [Health]
      summary: Kubernetes startup probe
      security: []
      responses:
        "200":
          description: Service has started
        "503":
          description: Service still starting
  /api/v1/info:
    get:
      operationId: getInfo
      tags: [Health]
      summary: Service info (version, runtime stats)
      security: []
      responses:
        "200":
          description: Service information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      tags: [Health]
      summary: Discover API capabilities for clients
      description: |
        Returns a structured list of all API capabilities for programmatic
        discovery. Native client apps use this endpoint to
        enumerate available actions, required auth, and async behavior.
      security: []
      responses:
        "200":
          description: Capabilities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesResponse"
  /api/v1/client/bootstrap:
    get:
      operationId: getClientBootstrap
      tags: [Health]
      summary: Public runtime config for the static SPA
      description: |
        Returns non-secret, runtime-varying public configuration for the
        embedded static frontend (edition, deployment mode, telemetry
        toggles). Values are empty unless the operator or deployer sets the
        corresponding environment variables, keeping self-hosted and local
        deployments telemetry-free by default.
      security: []
      responses:
        "200":
          description: Client bootstrap config
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      edition:
                        type: string
                      deployment_mode:
                        type: string
                      kombify_edition:
                        type: string
                      version:
                        type: string
                      public_origin:
                        type: string
                      telemetry:
                        type: object
                        properties:
                          sentry:
                            type: object
                            properties:
                              dsn: {type: string}
                              environment: {type: string}
                              release: {type: string}
                          posthog:
                            type: object
                            properties:
                              key: {type: string}
                              host: {type: string}
                              environment: {type: string}
  /api/v1/csrf:
    get:
      operationId: getCSRFToken
      tags: [Auth]
      summary: Issue a CSRF token for cookie-authenticated browser mutations
      security: []
      responses:
        "200":
          description: CSRF token
          headers:
            X-CSRF-Token:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [token]
                properties:
                  token:
                    type: string
  /api/v1/openapi.yaml:
    get:
      operationId: getOpenAPIYAML
      tags: [Health]
      summary: Download the OpenAPI contract
      security: []
      responses:
        "200":
          description: OpenAPI YAML
          content:
            application/yaml:
              schema:
                type: string
            text/yaml:
              schema:
                type: string
  /api/v1/instance:
    get:
      operationId: getInstanceIdentity
      tags: [Instance]
      summary: Get the stable local instance identity
      security: []
      responses:
        "200":
          description: Instance identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  version:
                    type: string
                  created_at:
                    type: string
                    format: date-time
  /api/v1/enrollment:
    get:
      operationId: getEnrollmentRecord
      tags: [Instance]
      summary: Get the local enrollment record
      security: []
      responses:
        "200":
          description: Enrollment metadata for the current instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  instance_id:
                    type: string
                  mode:
                    type: string
                    enum: [standalone, cloud_linked]
                  cloud_linked:
                    type: boolean
  /api/v1/stacks:
    get:
      operationId: listKitDeployments
      tags: [Stacks]
      summary: List the owner's StackKit deployments
      description: |
        Returns every StackKit deployment beneath the authenticated owner's
        singleton B2C Homelab. `kit_deployment_id`, `homelab_id`, and
        `stackkit_id` are the product identities; legacy identifiers remain
        compatibility aliases on this route while consumers migrate.
      responses:
        "200":
          description: Owner-scoped StackKit deployment list
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StackKitDeploymentSummary"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      operationId: createStack
      tags: [Stacks]
      summary: Create a StackKit deployment in the owner's Homelab
      description: |
        Creates an internal StackKit deployment under the authenticated B2C
        owner's singleton Homelab from the canonical StackKits stack-spec
        payload supplied as `stack_spec`. The legacy `/stacks` route and
        `stack_id` response field identify that deployment; they do not create
        or select a second Homelab product. One TechStack instance can serve
        many owners, each with their own Homelab. Legacy
        `user_config`/kombination payloads remain accepted at this compatibility
        boundary. Wizard clients should send a stable `X-Idempotency-Key`;
        retries with the same key and payload return the original deployment,
        planned server, and provisioning job.
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: false
          description: Stable wizard-attempt key. Maximum 256 characters.
          schema:
            type: string
            maxLength: 256
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStackRequest"
      responses:
        "202":
          description: StackKit deployment accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStackResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: StackKit deployment conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/homelab:
    get:
      operationId: getHomelab
      tags: [Stacks]
      summary: Get the caller's homelab and its StackKit deployments
      description: >-
        Resolves the authenticated owner's canonical Homelab umbrella together with its StackKit deployments. `homelab` is null while a backfill has deployments but no Homelab row yet; with neither, the route is 404.
      responses:
        "200":
          description: The caller's homelab
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [homelab, kit_deployments]
                    properties:
                      homelab:
                        oneOf:
                          - $ref: "#/components/schemas/Homelab"
                          - type: "null"
                      kit_deployments:
                        type: array
                        items: {type: object}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: renameHomelab
      tags: [Stacks]
      summary: Rename the caller's homelab
      description: >-
        Renames the authenticated owner's homelab. The homelab name is the Stack Identity name and syncs to kombify Cloud when connected. Reversible; the homelab is resolved from the authenticated owner, never from an argument.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: {type: string, minLength: 1, maxLength: 30}
      responses:
        "200":
          description: The renamed homelab
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [homelab]
                    properties:
                      homelab: {$ref: "#/components/schemas/Homelab"}
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/stacks/prune-orphans:
    post:
      operationId: reviewOrApplyOrphanProjectionCleanup
      tags: [Stacks]
      summary: Review or apply owner-scoped test-residue cleanup
      description: |
        Two-phase cleanup for control-plane projections only. A `dry_run`
        returns the exact authenticated-owner E2E/runtime-cloud candidates and
        a stable revision-bound digest. `apply` recomputes the plan and accepts
        only that exact digest. This route never decommissions a lease, calls a
        provider, destroys infrastructure, or enqueues lifecycle work.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrphanProjectionCleanupRequest"
      responses:
        "200":
          description: Reviewed plan or applied projection cleanup
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/OrphanProjectionCleanupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/owner-spec:
    get:
      operationId: getStackOwnerSpec
      tags: [Stacks]
      summary: Fetch the owner bootstrap spec for a StackKit deployment
      description: |
        StackKit admin-bootstrap endpoint for fetching local owner fields and
        the recovery passphrase hash. This route accepts only the short-lived
        bootstrap bearer token returned by `createStack`; it does not use the
        normal browser/session bearer token.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Owner and recovery bootstrap spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerSpecResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Owner spec material is not available for this StackKit deployment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/stacks/{id}/provision:
    post:
      operationId: provisionStack
      tags: [Stacks]
      summary: Start provisioning an existing StackKit deployment
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: false
          description: >-
            Stable 8-256 character visible-ASCII retry key. Exact replays return the original provision job; reuse for changed intent fails with 409. The raw key is never persisted.
          schema:
            type: string
            minLength: 8
            maxLength: 256
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Optional custom spec overrides
      responses:
        "202":
          description: Provisioning accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency-Key was already bound to different provision intent
        "422":
          description: Idempotency-Key is malformed
  /api/v1/stacks/{id}/deploy:
    post:
      operationId: deployStack
      tags: [Stacks]
      summary: Roll out one StackKit deployment (unify + IaC + tofu apply)
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: false
          description: >-
            Stable 8-256 character visible-ASCII retry key. Exact replays return the original deploy job; conflicting reuse fails with 409. The raw key is never persisted.
          schema:
            type: string
            minLength: 8
            maxLength: 256
      responses:
        "202":
          description: Deploy accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Idempotency-Key conflicts with an existing deploy receipt
        "422":
          description: Idempotency-Key is malformed
  /api/v1/stacks/{id}/operations:
    get:
      operationId: getStackOperations
      tags: [Stacks, Inventory]
      summary: Get the post-configuration operations read model for one owned StackKit deployment
      description: >-
        Returns the exact owner- and tenant-scoped read model used by the TechStack operations dashboard. `approved_servers` records operator approval; `connected_servers` is stricter and counts only assigned, approved Nodes with freshness-qualified canonical Guard heartbeat, connection, and health evidence. The operation is read-only and never starts rollout, provisioning, or provider work.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Current StackKit deployment operations and rollout-readiness evidence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackOperationsEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/managed-runtimes/authority:
    get:
      operationId: preflightManagedRuntimeAuthority
      tags: [Stacks, Jobs]
      summary: Verify request-bound managed-runtime authority without creating a resource
      description: |
        Read-only preflight for the Gateway-to-native-admission authority chain.
        Hosted requests must carry the Gateway's v2-signed managed-runtime,
        Cloud Kit, provider entitlement, and `cloud.runtime.credits`
        `managed_servers` decision bound to this exact request. A successful
        response never reserves capacity or creates a StackKit deployment, queue
        job, lease, Node projection, or provider operation; the real Add-Server request
        repeats every mutable admission check atomically.
      parameters:
        - name: provider_id
          in: query
          required: true
          description: Exact canonical provider whose managed-runtime authority is being checked.
          schema:
            type: string
            enum: [centron, ionos]
      responses:
        "200":
          description: Gateway-signed budget and native read-only admission preflight verified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedRuntimeAuthorityPreflightEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/managed-runtimes:
    post:
      operationId: addManagedRuntimeServer
      tags: [Stacks, Jobs]
      summary: Add one managed Node through native provider control
      description: |
        Creates or resumes one deterministic Add-Server job for the exact
        owned StackKit deployment. The standard `Idempotency-Key` is mandatory.
        Replaying the same key with the same canonical request returns the original
        job, lease, runtime-server, resource-generation, and provider-operation
        correlations; reusing it with different intent fails with 409.

        The raw key is never persisted or returned. A lost response or an
        uncertain native-admission outcome remains resumable only with the
        same key. HTTP acceptance means native admission is durable and
        provider reconciliation is pending; it never claims that the VM is
        already provisioned or healthy. Fresh admission atomically reserves
        the authenticated tenant/owner capacity slot with the lease generation
        and provider operation. When authoritative native admission finds that
        bounded capacity full, it persists a non-retryable 403 outcome and
        replaying that denied job returns the same outcome. Exact replays of an
        already committed admission reuse its existing reservation. This version
        has no automatic reservation release: terminal or local decommission
        state alone does not free a slot. Lease inventory and feature-delivery
        flags never authorize or deny capacity.
        Hosted fresh admission also requires the v2-signed commercial runtime
        and provider entitlements plus the signed `cloud.runtime.credits`
        `managed_servers` mode/limit decision; feature flags alone never grant
        provider capacity. Self-host OSS uses its construction-fixed static
        release-manifest policy instead of a SaaS entitlement dependency.
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: true
          description: >-
            One opaque, case-sensitive Add-Server attempt key. Supply exactly one value without leading/trailing whitespace, comma separators, or control characters. Maximum 256 UTF-8 bytes.
          schema:
            type: string
            minLength: 1
            maxLength: 256
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddManagedRuntimeServerRequest"
      responses:
        "202":
          description: Native managed-runtime admission accepted or safely replayed; provisioning remains pending.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddManagedRuntimeServerEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/resume-enrollment:
    post:
      operationId: resumeStackEnrollment
      tags: [Stacks, Jobs]
      summary: Resume one overdue managed Node wait on its exact existing VM
      description: |
        Authenticated, idempotent recovery for a persisted `waiting_enrollment`,
        `waiting_provider_provision`, or `waiting_canonical_guard` job whose
        `next_resume_at` has been overdue beyond the bounded grace period. The
        server validates the owned StackKit deployment, source job, wait reason,
        exact lease, active foundation role, and canonical Node as one operation. It
        atomically retires the exact source wait, creates or rehydrates one
        deterministic replacement deploy bound to the same lease and Node,
        and replays that job on later calls. Before handler entry,
        queue workers atomically acquire the durable `tenant/stack` compatibility
        execution claim; this serializes different jobs for the same StackKit
        deployment across Techstack
        replicas. The claim remains durable `running` until the handler exits,
        including during cancellation. This endpoint never invokes provider VM
        creation or selects a newer VM. A replacement found durable `running`
        after a crash remains fail-closed, is reported as the same job, and is
        never duplicated automatically; runtime-action reconciliation remains a
        separate operator concern.
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollmentResumeRequest"
      responses:
        "202":
          description: Deterministic exact-target replacement accepted or replayed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResumeEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/stacks/{id}/retry-rollout:
    post:
      operationId: retryStackRollout
      tags: [Stacks, Jobs]
      summary: Retry one failed StackKit deployment rollout on its exact existing managed VM
      description: |
        Validates the owned failed deploy, its exact active foundation lease,
        and canonical Node in one server-side operation. The deterministic
        durable replacement bypasses provider VM creation, wins a durable
        `tenant/stack` compatibility execution claim before handler entry, and is
        replayed on repeated calls to this operation. The claim serializes different
        jobs for the same StackKit deployment across replicas and remains
        fail-closed as `running` after a process crash until operator reconciliation.
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExactRolloutRetryRequest"
      responses:
        "202":
          description: Exact-target rollout retry accepted or replayed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExactRolloutRetryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/routing:
    get:
      operationId: getStackRouting
      tags: [Stacks]
      summary: Read desired and observed routing state for one StackKit deployment
      description: >-
        Returns the tenant- and owner-bound routing overlay for the exact StackKit deployment. Desired state and observed/applied state are reported separately so clients never infer a successful DNS, TLS, or StackKit rollout from persistence alone.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Current routing desired state, observation, and rollout truth
          headers:
            ETag:
              description: Current routing revision, suitable for a later If-Match header.
              schema: {type: string, example: '"3"'}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    put:
      operationId: ensureStackRouting
      tags: [Stacks]
      summary: Ensure the desired routing overlay for one exact StackKit deployment and Node
      description: >-
        Atomically persists an idempotent, revisioned routing overlay without mutating the user's immutable intent. server_id is always exact and mandatory. lease_id is mandatory for managed runtimes and omitted for a local/Basement runtime which has no lease. For a managed target, a true ensure_rollout request dispatches the existing deploy pipeline only after proving that its selected active foundation lease and canonical Node equal this exact target. The API never reports the resulting job as already applied. The overlay is consumed only while deriving StackKits artifacts and this path never creates or selects a replacement VM.
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: true
          description: Stable key for safely replaying this exact routing mutation.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: If-Match
          in: header
          required: false
          description: Optional optimistic-concurrency routing revision, for example `"3"`.
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StackRoutingPutRequest"
      responses:
        "200":
          description: Desired routing state persisted; no rollout was requested.
          headers:
            ETag:
              description: Persisted routing revision.
              schema: {type: string, example: '"3"'}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "202":
          description: Desired routing state persisted and an exact-target rollout job was enqueued; application remains pending.
          headers:
            ETag:
              description: Persisted routing revision.
              schema: {type: string, example: '"3"'}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          description: If-Match does not equal the current routing revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/routing/targets:
    get:
      operationId: listStackRoutingTargets
      tags: [Stacks]
      summary: List explicit primary routing targets for one StackKit deployment
      description: >-
        Read-only discovery backed by active RuntimeLease authority. Returns every owner-visible foundation/control-plane target and never selects one, creates a canonical Node (`ServerRuntime`) projection, or mutates the StackKit deployment. Callers must send the complete server_id and lease_id tuple to a routing mutation.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Owner-visible primary routing targets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingTargetsEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/stacks/{id}/destroy:
    post:
      operationId: destroyStack
      tags: [Stacks]
      summary: Decommission one StackKit deployment and its infrastructure
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "202":
          description: StackKit deployment decommission accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/stacks/{id}/intent:
    get:
      operationId: getStackIntent
      tags: [Stacks - Specs]
      summary: Get persisted kombination.yaml (byte-exact, base64)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Intent spec
          content:
            application/json:
              schema:
                type: object
                properties:
                  stack_id:
                    type: string
                  filename:
                    type: string
                    example: kombination.yaml
                  encoding:
                    type: string
                    example: base64
                  sha256:
                    type: string
                  byteLength:
                    type: integer
                  content:
                    type: string
                    description: Base64-encoded YAML content
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/stacks/{id}/requirements:
    get:
      operationId: getStackRequirements
      tags: [Stacks - Specs]
      summary: Get requirements spec (Phase 1 output)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Requirements spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/stacks/{id}/unified:
    get:
      operationId: getStackUnified
      tags: [Stacks - Specs]
      summary: Get unified spec (Phase 2 output)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Unified spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/stacks/{id}/verify-chain:
    get:
      operationId: verifySpecChain
      tags: [Stacks - Specs]
      summary: Verify spec hash chain integrity
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Chain verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  stack_id:
                    type: string
                  valid:
                    type: boolean
                  message:
                    type: string
  /api/v1/stacks/{id}/pipeline-status:
    get:
      operationId: getPipelineStatus
      tags: [Stacks - Specs]
      summary: Get complete pipeline status for all spec phases
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Pipeline status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineStatusResponse"
  /api/v1/stacks/{id}/export:
    get:
      operationId: exportStack
      tags: [Stacks - Import/Export]
      summary: Export stack as stack-spec.yaml
      description: Returns StackKits stack-spec YAML or JSON depending on Accept header
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Exported configuration
          content:
            application/yaml:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  stack_spec:
                    type: object
                    description: Canonical StackKits stack-spec export.
                  kombination:
                    type: object
                    deprecated: true
                    description: Legacy alias for stack_spec.
                  format:
                    type: string
                  stack_id:
                    type: string
                  exported_at:
                    type: string
                    format: date-time
  /api/v1/stacks/import:
    post:
      operationId: importStack
      tags: [Stacks - Import/Export]
      summary: Import stack-spec.yaml as a StackKit deployment
      description: Imports YAML or JSON as a deployment under the authenticated owner's Homelab.
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
          application/json:
            schema:
              type: object
      responses:
        "202":
          description: Import accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStackResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: StackKit deployment already exists
  /api/v1/stacks/import/validate:
    post:
      operationId: validateImport
      tags: [Stacks - Import/Export]
      summary: Validate spec without importing
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
  /api/v1/stacks/{id}/drift/check:
    post:
      operationId: checkDrift
      tags: [Stacks - Drift]
      summary: Trigger drift check
      description: Rate limited to once per 5 minutes (unless force=true)
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        "202":
          description: Drift check started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "429":
          description: Rate limited (5 minute cooldown)
  /api/v1/stacks/{id}/drift/status:
    get:
      operationId: getDriftStatus
      tags: [Stacks - Drift]
      summary: Get current drift status
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Drift status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftStatusResponse"
  /api/v1/stacks/{id}/drift/details:
    get:
      operationId: getDriftDetails
      tags: [Stacks - Drift]
      summary: Get detailed drift information with affected resources
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Drift details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftDetailsResponse"
  /api/v1/stacks/{id}/drift/resolve:
    post:
      operationId: resolveDrift
      tags: [Stacks - Drift]
      summary: Trigger drift resolution (re-apply)
      description: Precondition -- stack must have status "drifted"
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "202":
          description: Resolution started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "412":
          description: Stack is not in drifted state
  /api/v1/drift/results:
    get:
      operationId: listDriftResults
      tags: [Stacks - Drift]
      summary: List all drift results (paginated)
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Paginated drift results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftResultsListResponse"
  /api/v1/drift/results/{id}:
    get:
      operationId: getDriftResult
      tags: [Stacks - Drift]
      summary: Get single drift result
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Drift result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftDetailsResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteDriftResult
      tags: [Stacks - Drift]
      summary: Delete drift result
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/v1/unifier/validate:
    post:
      operationId: validateSpec
      tags: [Unifier]
      summary: Validate a stack specification against CUE schemas
      description: Safe, idempotent. No side effects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: StackKits stack-spec or legacy Kombination spec to validate
          application/yaml:
            schema:
              type: string
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
  /api/v1/unifier/analyze:
    post:
      operationId: analyzeSpec
      tags: [Unifier]
      summary: Analyze spec to get requirements (Phase 1)
      description: Safe, idempotent. Returns hardware requirements, detected add-ons, required credentials.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Requirements analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/unify:
    post:
      operationId: unifySpec
      tags: [Unifier]
      summary: Unify specifications (Phase 2)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Unified spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/pipeline:
    post:
      operationId: runPipeline
      tags: [Unifier]
      summary: Run full unifier pipeline (validate + analyze + unify + generate)
      description: Side-effecting -- generates IaC output files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/pipeline/validate:
    post:
      operationId: validatePipeline
      tags: [Unifier]
      summary: Validate pipeline inputs without executing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
  /api/v1/unifier/pipeline/preview:
    post:
      operationId: previewPipeline
      tags: [Unifier]
      summary: Preview pipeline results without side effects
      description: Safe, idempotent. Shows what would be generated. Backend validation or StackKit resolution failures return 200 with data.valid=false and structured data.errors; malformed input and auth failures remain HTTP errors.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/generate:
    post:
      operationId: generateIaC
      tags: [Unifier]
      summary: Generate IaC from unified spec
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Generated IaC
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/iac:
    post:
      operationId: generateIaCDirect
      tags: [Unifier]
      summary: Generate IaC directly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: IaC generation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/unifier/iac/preview:
    post:
      operationId: previewIaC
      tags: [Unifier]
      summary: Preview IaC generation without writing files
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: IaC preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/stackkits:
    get:
      operationId: listStackKits
      tags: [StackKits]
      summary: List available StackKits
      responses:
        "200":
          description: StackKit catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/stackkits/{name}:
    get:
      operationId: getStackKit
      tags: [StackKits]
      summary: Get specific StackKit details
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          examples:
            basement:
              value: basement-kit
            modern:
              value: modern-homelab
            ha:
              value: ha-homelab
      responses:
        "200":
          description: StackKit details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/addons:
    get:
      operationId: listAddons
      tags: [Add-ons]
      summary: List available add-ons
      responses:
        "200":
          description: Add-on registry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/addons/detect:
    post:
      operationId: detectAddons
      tags: [Add-ons]
      summary: Auto-detect applicable add-ons for a spec
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Detected add-ons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/inventory/servers:
    get:
      operationId: listInventoryServers
      tags: [Inventory]
      summary: List sanitized server inventory for the authenticated owner
      description: >-
        Returns only servers owned by the authenticated subject in the trusted tenant context. Tenant and owner overrides are not accepted. Raw metadata, channel endpoints, provider-resource references, credentials, SSH material, tokens, and logs are never returned. The lease projection contains only an opaque identifier and state. Cursor pages share one authorization- and filter-bound collection watermark and exclude later inserts.
      parameters:
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 200, default: 50}
        - name: cursor
          in: query
          schema: {type: string, maxLength: 2048}
      responses:
        "200":
          description: Owner-scoped inventory
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/InventoryServerList"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/summary:
    get:
      operationId: getRILServerSummary
      tags: [Inventory, RIL]
      summary: Read the authenticated owner's server-presence summary
      description: >-
        Returns only a count and presence flag under the same tenant and owner policy scope as the canonical inventory list. The optional tenant query exists for Gateway compatibility and must exactly match the tenant in the authenticated identity; a mismatch is rejected before any store read. No server, tenant, or subject identifiers are returned.
      parameters:
        - name: tenant
          in: query
          required: false
          schema: {type: string, minLength: 1}
      responses:
        "200":
          description: Owner-scoped server presence; private-cacheable for 60 seconds
          headers:
            Cache-Control:
              schema: {type: string, example: "private, max-age=60"}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/RILServerSummary"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/inventory/servers/{serverId}:
    patch:
      operationId: renameInventoryServer
      tags: [Inventory]
      summary: Set or clear the owner-chosen name of one owned server
      description: >-
        Writes servers.display_name, which runtime projections never overwrite. `null` or an empty string clears the rename. Requires the signed techstack.inventory.write entitlement and the FGA server `caller` relation; the write is bound to the authenticated tenant and owner, and a server outside that scope is denied without revealing whether it exists. The canonical inventory `name` reports the chosen name when one is set.
      parameters:
        - $ref: "#/components/parameters/serverId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              additionalProperties: false
              properties:
                display_name: {type: [string, "null"], maxLength: 100}
      responses:
        "200":
          description: The renamed server's inventory item
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/InventoryServer"
                      - type: object
                        required: [display_name]
                        properties:
                          display_name: {type: [string, "null"], maxLength: 100}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/inventory/servers/{serverId}/health:
    get:
      operationId: getInventoryServerHealth
      tags: [Inventory]
      summary: Get freshness-qualified health for one owned server
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Sanitized health evidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/InventoryServerHealth"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/inventory/servers/{serverId}/ports:
    get:
      operationId: getInventoryServerPorts
      tags: [Inventory]
      summary: Get desired, reserved, observed, and exposed listeners for one owned server
      description: >-
        Projects compiler-declared listener claims and generation-fenced reservations beside monotone Guard runtime evidence. Missing or stale observations remain explicit and never become optimistic availability.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Owner-scoped port allocation inventory
          headers:
            Cache-Control:
              schema: {type: string, example: "private, no-store"}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerPortInventory"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/ports:
    get:
      operationId: getServerRuntimePorts
      tags: [Servers, Inventory]
      summary: Get the authenticated owner's port inventory for one canonical server
      description: >-
        Server-detail UI projection over the same central port authority as the Inventory/MCP surface, authorized through the canonical owner-scoped server read boundary.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Owner-scoped port allocation inventory
          headers:
            Cache-Control:
              schema: {type: string, example: "private, no-store"}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerPortInventory"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/inventory/services:
    get:
      operationId: listInventoryServices
      tags: [Inventory]
      summary: List sanitized services for the authenticated owner's servers
      parameters:
        - name: server_id
          in: query
          description: Optional exact owned server filter; a foreign server is returned as not found.
          schema: {type: string, minLength: 1}
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 200, default: 50}
        - name: cursor
          in: query
          description: Opaque cursor bound to the authenticated scope and exact server_id filter.
          schema: {type: string, maxLength: 2048}
      responses:
        "200":
          description: Owner-scoped service inventory
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/InventoryServiceList"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/inventory/servers/{serverId}/access-context:
    get:
      operationId: getInventoryServerAccessContext
      tags: [Inventory]
      summary: Get sanitized access context for one owned server
      description: >-
        Returns address metadata, channel state, and freshness-qualified service links only. It never returns endpoint references, access-profile references, route IDs, credentials, tokens, SSH users, ports, keys, commands, or logs. This surface requires inventory operate permission; read permission alone is insufficient.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Sanitized server access context
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/InventoryServerAccessContext"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers:
    get:
      operationId: listServerRuntimes
      tags: [Servers]
      summary: List canonical Node runtime state
      description: |
        Returns owner-scoped Nodes with canonical `node_id` and
        `kit_deployment_id` identities.
      parameters:
        - name: kit_deployment_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Owner-scoped server runtime list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServerRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/servers/{serverId}:
    get:
      operationId: getServerRuntime
      tags: [Servers]
      summary: Get canonical server lifecycle, connection, health, and channels
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Server runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ServerRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/servers/{serverId}/transitions:
    get:
      operationId: listServerRuntimeTransitions
      tags: [Servers]
      summary: List the persisted server state timeline
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Newest-first transition timeline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/servers/{serverId}/detach:
    post:
      operationId: detachSelfOwnedServer
      tags: [Servers]
      summary: Revoke and detach one exact customer-operated BYO server
      description: Retains the terminal canonical server receipt and performs no provider API call.
      parameters:
        - $ref: "#/components/parameters/serverId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelfOwnedServerDetachRequest"
      responses:
        "200":
          description: Terminal BYO detach receipt
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SelfOwnedServerDetachReceipt"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/servers/{serverId}/security/verify:
    post:
      operationId: requestServerSecurityVerification
      tags: [Servers]
      summary: Ask the kombify Guard for a fresh host security observation
      description: >-
        Records that a fresh observation of the host baseline is wanted. The Guard answers at its next check-in (within about a minute) with a new report; nothing on the host changes. The server's `security` read model is updated only by that report, never by this request. Another tenant's or owner's server is 404; a server without a Guard is 409 `guard_not_connected`.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "202":
          description: The observation was requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [server_id, requested_at]
                    properties:
                      server_id: {type: string}
                      requested_at: {type: string, format: date-time}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/security/findings:
    get:
      operationId: listServerSecurityFindings
      tags: [Servers]
      summary: List the open findings and recent findings history of one server
      description: >-
        The findings ledger behind the server's `security`, `recovery` and Guard alerts. One finding is one episode: opened when a fact is first observed wrong, resolved when it is observed right again, with at most one alert (`alerted_at`) and one resolution. History is kept 90 days.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Open findings and history, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerSecurityFindingLedger"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/security/repairs:
    get:
      operationId: listServerSecurityRepairs
      tags: [Servers]
      summary: List the recent security repairs of one server
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Recent repairs, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [server_id, repairs]
                    properties:
                      server_id: {type: string}
                      repairs:
                        type: array
                        items: {$ref: "#/components/schemas/SecurityRepair"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
    post:
      operationId: requestServerSecurityRepair
      tags: [Servers]
      summary: Repair named drifted host security controls
      description: >-
        Requests a bounded repair of controls the fresh host security evidence reports as drifted and automatically repairable. Requires the server's owner, the Edge-signed `techstack.servers.maintenance` entitlement and a fresh multi-factor sign-in (at most 300 seconds old). The repair travels as a typed, journaled Guard command that runs `stackkit host security repair --apply` for exactly the named controls; StackKits refuses, before changing anything, a change that would cut the management path or lock the owner out. Bounds: one repair per server at a time (409 `repair_in_progress`), a per-control cooldown (429 `repair_cooldown`), a daily attempt budget per control (429 `repair_attempts_exhausted`) and a circuit breaker after consecutive failures (429 `repair_circuit_open`); the 429 answers carry `retry_after`. A control that is compliant (409 `control_not_drifted`), under an approved exception (`control_has_exception`), manual (`control_not_repairable`), blocked on an authorized SSH key (`needs_authorized_key`) or not observed is refused. The body is decoded strictly.
      parameters:
        - $ref: "#/components/parameters/serverId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SecurityRepairRequest"
      responses:
        "202":
          description: The repair was admitted and is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/SecurityRepair"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429":
          description: A repair bound was reached; `retry_after` names when to try again
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/security/auto-repair:
    get:
      operationId: getServerSecurityAutoRepair
      tags: [Servers]
      summary: Read the owner's approval of automatic security repair
      description: A server without an approval, or with an expired one, is observe-only.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: The approval state
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/SecurityAutoRepair"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
    put:
      operationId: setServerSecurityAutoRepair
      tags: [Servers]
      summary: Approve or withdraw automatic repair of a small safe set of controls
      description: >-
        Off by default. An approval names controls from the safe set (`allowed_controls`: brute-force protection, the firewall policy, kernel parameters and automatic security updates; never the ssh controls), expires within 90 days and never renews itself. While it is in force the control plane repairs a named control that fresh evidence reports drifted, inside the same bounds as an operator repair. Requires the owner, the `techstack.servers.maintenance` entitlement and a fresh multi-factor sign-in. `enabled: false` withdraws the approval.
      parameters:
        - $ref: "#/components/parameters/serverId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SecurityAutoRepairRequest"
      responses:
        "200":
          description: The approval as recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/SecurityAutoRepair"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/network:
    get:
      operationId: getServerNetwork
      tags: [Servers]
      summary: Read the server's network facts and any recorded home network move
      description: >-
        The network the server's kombify Guard last observed (address, gateway, subnet, interface, WiFi network), the `network_move` record kombify wrote when the server turned up on a different network, and the state of the re-bind that followed. A moved server re-binds itself automatically; `can_rebind` says whether the owner can start one now.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: The server's network section
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerNetwork"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/network/rebind:
    post:
      operationId: rebindServerNetwork
      tags: [Servers]
      summary: Re-bind a moved server to the network it is on now
      description: >-
        Runs `stackkit network rebind` on the server through its kombify Guard: the node re-detects its LAN address, re-issues the signed LAN DNS custody record and regenerates and re-applies the workspace. The request takes no body. Requires the owner, the Inventory operate grant and the `techstack.servers.maintenance` entitlement, and a connected Guard (409 `server_network_not_ready` otherwise). A rebind that is already queued or running answers with its job instead of queueing another.
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "202":
          description: The re-bind job
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerNetworkRebind"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/reach:
    put:
      operationId: setServerPublicReach
      tags: [Servers]
      summary: Publish the server at a kombify.me address, or stop publishing it
      description: >-
        Nothing is published by default: a paired server has no public route and the relay carries no traffic. The owner enables it per server with an explicit `service` name and `target_port` (the origin is always the Guard host's loopback, never another machine) and may withdraw it at any time. The relay authenticates the Guard, not the visitor, so what answers on that port must protect itself. Enabling requires the owner, the `techstack.servers.maintenance` entitlement and a fresh multi-factor sign-in (reason `server_reach_step_up_required`); withdrawing is never gated. Responds with the reach section of the server read model; the reconciler then creates or withdraws the route.
      parameters:
        - $ref: "#/components/parameters/serverId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuardPublicReachRequest"
      responses:
        "200":
          description: The reach section after the change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/GuardReach"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/actions:
    post:
      operationId: runServerMaintenanceAction
      tags: [Servers, Jobs]
      summary: Queue an owned server OS update plan, OS update or reboot
      description: >-
        Requires the Edge-signed `techstack.servers.maintenance` entitlement, ownership of the server in the tenant, and current server-bound standing authority for delegated native MCP calls. These three ordinary actions require no fresh MFA or separate owner_approved assertion. The body is decoded strictly: exact lowercase keys, no duplicates, no unknown fields. A replay with the same Idempotency-Key returns the stored receipt before target validation. One reboot or OS update and, separately, one update plan may be active per server; a job not finished by its deadline fails with `deadline_exceeded` and frees its slot. The action is offered in `allowed_actions` only when the server agent advertises `stackkit.host-maintenance.v1`, and `reboot` only when the server also reports `host_boot_id`. Refusals are client-error-envelope/v1 documents; 409 `reason_code` is one of control_plane_host, substrate_node, protected_demo_server, service_locked, maintenance_active, node_operation_active, plan_stale, agent_capability_missing, boot_id_unknown, agent_not_connected, heartbeat_stale, inventory_revision_stale or idempotency_key_reused; 403 carries entitlement_required or maintenance_origin_authority_denied.
      parameters:
        - $ref: "#/components/parameters/serverId"
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, minLength: 1, maxLength: 128}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServerMaintenanceRequest"
      responses:
        "202":
          description: Maintenance job queued or exact durable replay returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerMaintenanceResponse"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/servers/{serverId}/actions/{jobId}:
    get:
      operationId: getServerMaintenanceJob
      tags: [Servers, Jobs]
      summary: Read one maintenance job of an owned server
      description: >-
        Scoped like the POST: the Edge-signed `techstack.servers.maintenance` entitlement, the tenant, ownership of the server, and a job that belongs to this server and was requested by the caller. Anything else is 404. Maintenance jobs have their own ledger and are not served by `/api/v1/jobs/{id}`. There is no log endpoint: the job carries its outcome, and a failure carries its stable code with user guidance.
      parameters:
        - $ref: "#/components/parameters/serverId"
        - name: jobId
          in: path
          required: true
          schema: {type: string, maxLength: 128}
      responses:
        "200":
          description: The maintenance job
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServerMaintenanceJob"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/services:
    get:
      operationId: listServiceRuntimes
      tags: [Services]
      summary: List canonical measured service runtime state
      parameters:
        - name: stack_id
          in: query
          schema:
            type: string
        - name: server_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Owner-scoped service runtime list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServiceRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/services/{serviceId}:
    get:
      operationId: getServiceRuntime
      tags: [Services]
      summary: Get desired, observed, health, access, and action capabilities for one service
      parameters:
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          description: Service runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ServiceRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/services/{serviceId}/connector:
    get:
      operationId: readApplicationConnector
      tags: [Services]
      summary: Read node-owned connector status and current published transport admission
      description: Returns a secret-free projection. An unavailable supporting catalog remains nondispatchable SourcePreview; stale evidence on a supporting pin requires current read-only verification. Dispatchability additionally requires current canonical host-key, node and lease authority.
      parameters:
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          description: Connector source preview and projected receipt status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ApplicationConnectorStatus"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
    post:
      operationId: setupApplicationConnector
      tags: [Services, Jobs]
      summary: Ensure or revoke one declared owned Home Assistant connector on its node
      description: >-
        Requires fresh backend ownership, positive operate authority, exact current inventory and Owner approval. Transports only closed correlation metadata through Guard to the published pinned CLI, whose local signedApply and Owner setup authority remain mandatory. Stores pre-send durable intent; unknown acknowledgement only reconciles the original operation read-only. Current v0.51.8 lacks the supporting catalog and returns nondispatchable SourcePreview. Credentials stay in node custody.
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/applicationIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ApplicationConnectorRequest"}
      responses:
        "202": {$ref: "#/components/responses/ApplicationConnectorQueued"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/services/{serviceId}/adoption-plans:
    post:
      operationId: prepareApplicationAdoption
      tags: [Services, Jobs]
      summary: Assess one exact existing Home Assistant Container for in-place adoption
      description: >-
        Retains the source-bound assessment in the existing durable job store. Requires a connected Guard and the exact capable published CLI release. This read-only operation does not establish Stacked membership.
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/applicationIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ApplicationAdoptionRequest"}
      responses:
        "202": {$ref: "#/components/responses/ApplicationLifecycleQueued"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/services/{serviceId}/adoption-plans/{planId}:
    get:
      operationId: readApplicationAdoptionPlan
      tags: [Services, Jobs]
      summary: Read the retained application assessment and durable progress
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/adoptionPlanId"
      responses:
        "200":
          description: Retained plan for this exact service and Owner
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ApplicationAdoptionPlan"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
  /api/v1/services/{serviceId}/adoption-plans/{planId}/execute:
    post:
      operationId: executeApplicationAdoption
      tags: [Services, Jobs]
      summary: Execute the exact reviewed source plan with explicit Owner approval
      description: >-
        Revalidates the retained digest, source identity, revision and release. Only an authenticated pinned-CLI custody receipt establishes membership. Accounts, configuration and persistent data are preserved; no new runtime is created. Moving to another Node and generic adoption are not supported.
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/adoptionPlanId"
        - $ref: "#/components/parameters/applicationIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ApplicationAdoptionRequest"}
      responses:
        "202": {$ref: "#/components/responses/ApplicationLifecycleQueued"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/services/{serviceId}/release:
    post:
      operationId: releaseApplicationLifecycle
      tags: [Services, Jobs]
      summary: Release an adopted lifecycle binding without deleting or stopping its runtime
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/applicationIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ApplicationAdoptionRequest"}
      responses:
        "202": {$ref: "#/components/responses/ApplicationLifecycleQueued"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/services/{serviceId}/metrics:
    get:
      operationId: getServiceMetrics
      tags: [Services]
      summary: Read measured resource metrics for an owned service
      description: >-
        Uses the existing Guard telemetry query backend and fixes the tenant, canonical server and container selectors from authorized service inventory. An empty vector means no resource metric was measured.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema: {type: string}
      responses:
        "200":
          description: PromQL instant vector with admitted container resource measurements
          content:
            application/json:
              schema: {type: object}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Metrics backend unavailable
  /api/v1/registry/services:
    get:
      operationId: listRegistryServices
      tags: [Services]
      summary: List owned services with their catalog and canonical placement
      description: >-
        Runtime records use the same state, capabilities, version and owner lock projection as service detail. Historical records remain readable with unknown observed state and no unmeasured action capabilities.
      responses:
        "200":
          description: Owned catalog, deployments, servers and services
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/RegistryServices"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/registry/services/{serviceId}/actions:
    post:
      operationId: runManagedServiceAction
      tags: [Services, Jobs]
      summary: Queue an owner-authorized StackKits service action
      description: >-
        Derives stack, server, agent, kit and service authority from fresh canonical inventory. Exact replays converge through a durable job receipt; the raw Idempotency-Key is never persisted. Mutations are followed by StackKits verify before measured state changes. Agent-executed actions refuse with 409 `maintenance_active` while the server is being rebooted or updated.
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, minLength: 1, maxLength: 128}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceActionRequest"
      responses:
        "202":
          description: Action queued or exact durable replay returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServiceActionResponse"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/registry/services/{serviceId}/logs:
    get:
      operationId: getManagedServiceLogs
      tags: [Services, Jobs]
      summary: Read the latest bounded, redacted StackKits service log page
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 200, default: 100}
        - name: cursor
          in: query
          schema: {type: string, maxLength: 2048}
      responses:
        "200":
          description: Completed or empty service log page
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServiceLogsResponse"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "202":
          description: The requested log page is still being collected
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/ServiceLogsResponse"}
                  meta: {$ref: "#/components/schemas/ResponseMeta"}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "404": {$ref: "#/components/responses/NotFound"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /api/v1/workers:
    get:
      operationId: listWorkers
      tags: [Workers]
      summary: List registered workers (filtered by owner)
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Worker list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /api/v1/workers/register:
    post:
      operationId: registerWorker
      tags: [Workers]
      summary: Register worker via pairing token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Pairing token
                hostname:
                  type: string
                ip:
                  type: string
                guard_public_key:
[...]
